include ../_mixins/list

doctype html
html(lang="ru")
	include ../_shared/head
	block head
	body
		main#main
			+header()
			block content
			include ../components/footer/footer
			include ../components/popups/popups