- var banners = ["Шишкин Лес", "Шишкин Лес 1 - Лес", "Шишкин Лес 2 - Лес 2"];
section.banner
    .banner-carousel.js-carousel__banner
        .swiper-container
            .swiper-wrapper
                each banner in banners
                    .swiper-slide
                        figure.banner-imgset
                            div.banner-imgset__bg(style="background-image: url(./assets/images/svg/bg-forest.svg);")
                            img.banner-imgset__img(src="./assets/images/bg.png", alt="")
                        .banner-title= banner
            .swiper-pagination
