.btn {
	padding: 7px 13px;
	text-transform: uppercase;
	background-color: $c_blue;
	color: $c_white;
	border: none;
	cursor: pointer;
	outline: none;
	width: auto;
	max-width: unset;
	border-radius: 20px;
	font-family: $ff_bold;
	font-size: $fz_btn;
	min-width: 141px;
	display: inline-block;
	text-align: center;
	transition: all $transition ease;
	box-sizing: border-box;
	min-height: 35px;

	&:hover {
		background-color: $c_blue_hv;
		color: $c_white;
	}

	&.btn-accent {
		background-color: $c_green;

		&:hover {
			background-color: $c_green_hv;
			color: $c_white;
		}
	}
}
