.popup {
	background-color: $clr_wh;
	width: 100%;
	padding: 30px 37px;
	box-sizing: border-box;
	margin: auto;

	@include media($width_xs) {
		padding: 20px;
	}

	&-links {
		padding-top: 80px;
		background-color: $clr_main;
	}

	.mfp-close {
		right: -37px;
		top: -37px;
		color: $clr_wh !important;
		opacity: 1;
		font-size: 40px;
		
		&:active,
		&:focus,
		&:focus-within {
			top: -37px;
			transform: translateY(0);
		}

		@include media($width_xs) {
			right: 0;
			top: 0;
			color: $clr_main !important;

			&:active,
			&:focus,
			&:focus-within {
				top: 0;
				transform: translateY(0);
			}
		}
	}

	input,
	textarea {
		color: $clr_main_1;

		@include placeholder() {
			color: $clr_main_1;
		}
	}

	input {
		padding-left: 18px;
		padding-right: 18px;
	}

	textarea {
		min-height: 110px;
		padding-left: 18px;
		padding-right: 18px;
	}

	.btn {
		width: 100%;
	}

	&-date {
		display: flex;

		.select.nice-select {
			padding-right: 18px;
			display: flex;
			justify-content: center;

			&:after {
				display: none;
			}

			.option {
				padding-left: 0;
				padding-right: 0;
				text-align: center;
			}

			&.day {
				min-width: 55px;
				max-width: 55px;
			}

			&.month {
				min-width: 105px;
				max-width: 105px;
			}
		}
	}
	
	&-loaders {
		display: flex;
		justify-content: center;

		.rsform-checkbox {
			margin-top: 0;
			padding-top: 20px;

			@include media($width_xs) {
				padding-top: 0;
				margin-top: -1px;
			}
		}
	}

	.rsform {
		&-checkbox {
			display: flex;
			align-items: flex-start;

			.rsform-title {
				position: relative;
				top: 3px;
				user-select: none;
			}

			&--input__clone {
				background-color: transparent;
				border: 1px solid $clr_main;
				border-radius: 3px;
				width: 19px;
				height: 19px;
	
				&:before {
					top: 3px;
				}
			}
		}

		&-group {
			margin-bottom: 20px;
		}

		&-hint {
			left: 19px;
		}

		&-row {
			width: 100%;
			margin-bottom: 20px;

			.rsform-group {
				margin-bottom: 0;
			}

			@include media($width_xs) {
				flex-wrap: wrap;
	
				.rsform-group {
					width: 100%;
					margin-bottom: 20px;
	
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&-title {
			font-family: $ff_bold;
			color: $clr_main_1;
		}

		&-input {
			color: $clr_black;
			border-color: rgba($clr_main, 1);
		}

		&-icon {
			border-color: rgba($clr_main, 1);
		}
	}

	&-title {
		font-family: $ff_bold;
		font-size: $fs_175;
		margin-bottom: 25px;
		color: $clr_black;

		@include media($width_xs) {
			padding-right: 20px;
		}
	}

	&-subtitle {
		color: $clr_black;
		text-align: center;
		margin-top: 10px;
		font-size: $fs_030;
	}

	&-sm {
		max-width: 430px;
	}

	&-md {
		max-width: 565px;

		small {
			width: calc(50% - 6px);
			
			@include media($width_xs) {
				width: 100%;
				margin-top: 3px;
			}
		}

		.btn {
			&-inner {
				width: calc(50% - 6px);
			
				@include media($width_xs) {
					width: 100%;
				}
			}
			
			&-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				@include media($width_xs) {
					flex-wrap: wrap;
				}
			}
		}
	}

	&-lg {
		max-width: 1250px;

		@media (max-width: 1330px), (max-height: 620px) {
			padding-top: 30px;

			.mfp-close {
				right: 0;
				top: 0;
				color: $clr_main !important;

				&:active,
				&:focus,
				&:focus-within {
					top: 0;
					transform: translateY(0);
				}
			}
		}
		
	}

	&-cities {
		margin-bottom: -30px;
		display: flex;
		flex-wrap: wrap;
		
		span.large {
			color: $clr_main;
			font-family: $ff_bold;
			font-size: 48px;
			position: absolute;
			left: 0;
			top: -10px;
		}

		&__li {
			width: calc(100% / 5);
			position: relative;
			padding-left: 60px;
			box-sizing: border-box;
			margin-bottom: 30px;

			@include media($width_md) {
				width: calc(100% / 3);
			}

			@include media($width_xs) {
				width: calc(100% / 1);
				padding-left: 50px;

				ul {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
	
					li {
						width: calc(50% - 5px);
					}
				}
			}

			// @include media(420px) {
			// 	width: 100%;
			// 	padding-left: 40px;
			// }
		}

		a {
			color: $clr_black;
			font-family: $ff_bold;

			&:hover {
				color: $clr_main;
			}
		}
	}
}
