mixin formCalc()
    form.form-calc.rsform.js-required
        h3.g-mb_2 Рассчитайте стоимость перевозки груза
        +rsformGroup({
            req: '{"type": "alphabet","message":"Введите начальную точку маршрута","minL": 1,"lang": "ru"}',
            type: 'text',
            name: 'from',
            placeholder: 'Откуда',
            icon: 'placeholder'
        })
        +rsformGroup({
            req: '{"type": "alphabet","message":"Введите конечную точку маршрута","minL": 2,"lang": "ru"}',
            type: 'text',
            name: 'to',
            placeholder: 'Куда',
            icon: 'placeholder'
        })
        .rsform-row
            +rsformGroup({
                req: '{"type": "numerical","message":"Введите вес","minL": 1,"lang": "ru"}',
                type: 'text',
                name: 'to',
                placeholder: 'Вес',
                icon: 'scale'
            })
            +rsformGroup({
                req: '{"type": "numerical","message":"Введите объём","minL": 1,"lang": "ru"}',
                type: 'text',
                name: 'to',
                placeholder: 'Объeм',
                icon: '3d'
            })
        +btn('lg','gr', 'submit').rsform-btn.g-mt_1 Рассчитать стоимость