$f_c: 'form-calc';

.#{$f_c} {
	display: flex;
	flex-wrap: wrap;
	max-width: 426px;
	flex-direction: column;
	margin-right: 0;
	margin-left: auto;
	padding: 30px 30px 39px;
	box-sizing: border-box;
	// border: 1px solid $clr_wh;
	// border-radius: $br_r;
	overflow: hidden;
	background-color: rgba(#161616, .2);
	margin-top: -25px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		box-shadow: inset 0 0 0 1px $clr_wh;
		transition: all $trans;
		border-radius: $br_r;
		pointer-events: none;

		@include rw($width_xs) {
			display: none;
		}
	}

	&:hover {
		&:before {
			box-shadow: inset 0 0 0 2px $clr_wh;

			@include rw($width_xs) {
				display: none;
			}
		}
	}

	@include rw($width_md) {
		margin-top: 0;
		position: relative;
		max-width: 100%;
	}

	@include rw($width_xs) {
		border: none;
		padding: 0;
		overflow: unset;
	}

	.rsform-input {
		@include placeholder() {
			color: $clr_main;
		}
	}

	&__services {
		max-width: 535px;

		@include media($width_lg) {
			max-width: 100%;
			padding-bottom: 30px;
			background-color: transparent;
			
			&.form-calc .rsform-btn {
				margin-bottom: 0;
			}
		}

		@include media($width_xs_s) {
			&.form-calc .rsform-btn {
				margin-bottom: 10px;
			}

			.rsform-row__vertical {
				flex-wrap: wrap;
				flex-direction: column-reverse;

				> * {
					width: 100%;
				}

				&:last-child {
					flex-direction: column;
				}
			}
		}
	}

	h3 {
		font-size: $fs_175;
		font-family: $ff_bold;
		line-height: 1;
		padding-right: 10px;
	}

	.rsform-btn {
		margin-bottom: -26px;
	}
}
