extends ../_layouts/master.pug
block title
	+title("Главная")
block content
	-
		var banner = [
			{
				"title": "Транспортно-экспедиционная  компания АНТТРАНС",
				"subtitle": "Доставляем грузы по всей стране",
				"img": "1.jpg"
			},{
				"title": "Транспортно-экспедиционная  компания АНТТРАНС - 2",
				"subtitle": "Доставляем грузы по всей стране - 2",
				"img": "2.jpg"
			}
		]
	-
	+header()
		.header-banner
			+carousel(banner)
		.header-form
			.g-grid
				+formCalc()
	+desc()
	+advantages()
	+tariffs()
	+consultation()
	+showing()
	+avtopark('vertical', 'Взгляните на наш автопарк')
	+services()
	+how({title: 'Как мы осуществляем перевозки', subtitle: 'Чаще всего, это вид доставки грузов осуществляется в контейнерах, которые имеют стандартные, принятые во всем мире, характеристики: габариты, массу, особенности конструкции. Использование подобных «ёмкостей» позволяет обезопасить груз от внешних воздействий.', steps: ['Вы оставляете заявку на сайте', 'Оформляем необходимые документы', 'Перевозим груз']})
	+reviews()