extends ../_layouts/master.pug
block title
	+title("Услуги")
block content
	+header()
		.header-banner__static
				.header-banner.bg-mask.js-scroll-zoom(style='background-image: url(./assets/images/temp/2-1.jpg)')
					.g-grid
						.header-banner__inner
							h1 Перевозка негабаритных и тяжеловесных грузов по России
							p Доставляем грузы по всей стране
				.header-form
					.g-grid
						+formCalc('services')
	+desc()
	+advantages()
	+avtopark('horizontal', 'Автомобили для грузоперевозки негабарита')
	+how({title: 'Как мы осуществляем перевозки', subtitle: 'Чаще всего, это вид доставки грузов осуществляется в контейнерах, которые имеют стандартные, принятые во всем мире, характеристики: габариты, массу, особенности конструкции. Использование подобных «ёмкостей» позволяет обезопасить груз от внешних воздействий.', steps: ['Вы оставляете заявку на сайте', 'Оформляем необходимые документы', 'Перевозим груз']})
	+reviews()
	+ourServices()