body {
	font-family: $ff_main;
	min-height: 100vh;
	overflow-x: hidden;
	color: $clr_dark_2;
	font-size: $fz_main;
	line-height: 1.4;
	transition: all $trans;
	opacity: 1;
	background: transparent;
	margin: 0;

	&.show-body {
		opacity: 1;
	}
}

html {
	scroll-behavior: smooth;
}

.requisite {
	table {
		td {
			padding-right: 40px;
			padding-top: 7px;
			padding-bottom: 7px;

			&:last-child {
				font-family: $ff_bold;
				color: $clr_main_1;
			}
		}
	}
}
