.our-services {
	@include media($width_xs) {
		padding-bottom: 0;
	}
	
	.carousel {
		margin-left: -20px;
		margin-right: -20px;
		
		&-navs {
			position: relative;
			padding: 0;
			margin-top: -39px;
			justify-content: space-between;
			margin-left: 0;
			margin-right: 0;

			> div {
				margin: 0;
				background-color: transparent;
				border-color: transparent;

				&:before {
					background-color: $clr_main;
					transition: all $trans;
				}

				&.swiper-button-disabled {
					&:before {
						background-color: $clr_main_2;
					}
				}

				&:first-child {
					margin-left: -30px;
				}

				&:last-child {
					margin-right: -30px;

					@include media($width_md) {
						margin-right: -30px;
					}
				}
			}

			@include media($width_xs) {
				justify-content: flex-end;
				margin-bottom: 0;
				position: relative;
				padding: 0;
				bottom: 30px;
				right: 20px;
				left: auto;

				> div {
					position: relative;
					left: 0;
					right: 0;
					width: 90px;
					height: 55px;
					border-radius: 3px;
					border: 1px solid $clr_wh;
					background: rgba($clr_main, .5);
					transition: all $trans;
		
					&.swiper-button-disabled {
						opacity: 1;
						background: rgba($clr_main, .25);
					}
		
					@include rw($width_xs) {
						width: 60px;
						height: 30px;
					}
		
					&:before {
						content: '';
						position: absolute;
						width: 30px;
						height: 1px;
						background-color: $clr_wh;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
						display: block;
					}
					
					&:first-child {
						right: -1px;
						left: auto;
						margin: 0;
					}
					&:last-child {
						margin: 0;
					}
				}
			}
		}

		&-services {
			$s: &;

			&__item {
				min-height: 260px;
				border-radius: $br_r8;
				background-size: cover;
				background-position: center center;
				color: $clr_wh;
				display: flex;
				align-items: flex-end;
				opacity: .5;
				position: relative;

				&--desc {
					overflow: hidden;
					transition: all $trans;
				}

				@include media($width_md) {
					background: none !important;
					flex-direction: column;
					opacity: 1;
				}

				figure {
					display: none;
					width: 100%;
					margin: 0;

					img {
						width: 100%;
					}

					@include media($width_md) {
						display: flex;
						align-items: center;
					}
				}
			}
			
			&__info {
				padding: 15px;
				background-color: rgba(#111, .58);
				border-radius: $br_r8;
				width: auto;
				transition: all $trans;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;

				@include media($width_md) {
					width: auto;
					border-radius: 0;
					background-color: rgba(#111, 1);
					position: relative;
				}

				@include media($width_xs) {
					padding: 20px 20px 100px;
				}

				&--title {
					font-size: $fs_15;
					font-family: $ff_bold;
					margin-bottom: 0;
					transition: all $trans;

					@include media($width_md) {
						font-size: $fs_175;
					}
				}

				&--desc {
					@include media($width_md, 1) {
						font-size: 0;
						overflow: hidden;
						transition: all $trans;
						height: 100%;
						opacity: 0;
					}

					@include media($width_md) {
						font-size: $fs_025;
					}

					@include media($width_xs) {
						font-size: $fs_05;
						margin-top: 10px;
					}
				}
			}

			.swiper-slide {
				transition: all $trans;

				&:before {
					display: none;
				}
			}

			.swiper-wrapper {
				@include media($width_md, 1) {
					padding: 60px 0;
				}

				@include media($width_md) {
					padding-bottom: 60px;
				}

				@include media($width_xs) {
					padding-bottom: 0;
				}
			}

			.swiper-slide-active {
				transform: scale(1.4);
				z-index: 1;

				@include media($width_md) {
					transform: scale(1);
				}
				
				.carousel-services {
					&__info {
						@include media($width_md, 1) {
							font-size: 14px;
						}
						
						&--title {
							@include media($width_md, 1) {
								margin-bottom: 7px;
							}
						}

						&--desc {
							@include media($width_md, 1) {
								font-size: $fs_030;
								opacity: 1;
							}
						}
					}

					&__item {
						opacity: 1;
					}
				}
			}
		}
	}
}
