mixin desc()
    section.desc
        .g-grid
            .desc-inner
                h2.g-clr_m.g-mb_1 Грузовые перевозки по России
                p При морской грузоперевозке нужно немалое количество затрат энергетических и трудовых ресурсов. Но можно заметить, что всевозможные сложности с организацией морских грузоперевозок компенсируются всеми предоставляемыми его возможностями. При морской грузоперевозке нужно немалое количество затрат энергетических и трудовых ресурсов. Данный вид транспортировки является самым медленным и самым дешёвым среди всех возможных видов перевозки грузов.