.footer {
	background: linear-gradient(to bottom, #00b242, #007b1f);
	color: $clr_wh;
	padding-bottom: 20px;

	@include media($width_xs) {
		padding-bottom: 0;
	}

	a,
	span {
		font-size: $fs_05;
		color: $clr_wh;
		display: inline-flex;
		align-items: center;
		transition: all $trans;
	}
	
	svg {
		* {
			transition: all $trans;
		}
	}

	a {
		&:hover {
			color: $clr_yell;

			svg:not(.s-stroke) {
				path {
					fill: $clr_yell;
				}

				text {
					fill: $clr_yell;
				}
			}

			svg.s-stroke {
				path {
					stroke: $clr_yell;
				}

				text {
					fill: $clr_yell;
				}
			}
		}
	}

	ul > li:not(.g-mb_2.g-mt_2) {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a.footer-phone {
		font-size: 30px;
	}

	&-socials {
		display: flex;
		align-items: center;
	}

	&-bottom {
		margin-top: 60px;
		padding: 19px 0;
		background: $clr_main_1;

		@include media($width_xs) {
			margin-top: 54px;
		}

		a,
		span {
			font-family: $ff_main;
			
			&:not(.g-clr_wh) {
				color: #e4e4e4;
			}
		}

		a {
			&:hover {
				color: $clr_yell;
			}
		}
	}
	
	&-logo {
		margin-top: -22px;
	}

	&-title {
		font-family: $ff_bold;
		font-size: $fs_175;
		line-height: 1.1;
	}

	&-link {
		&__icon {
			color: $clr_wh;
			display: flex;
			align-items: center;

			img,
			svg {
				margin-right: 10px;
				position: relative;
				bottom: 2px;
			}
		}
	}
}
