footer.footer.s-pd
  .container
    .footer-inner
        .footer-item
            .footer-item__header Новости
            a.footer-item__news(href="#")
                .footer-item__title 14.08.2018
                .footer-item__capture Вода, огонь и танки
            a.footer-item__news(href="#")
                .footer-item__title 15.07.2018
                .footer-item__capture Нам 20 лет!
            a.btn.btn-accent(href="#") Все Новости
            .footer-item__socials
                a(href="#").footer-item__socials--icon
                    img.svg(src="./assets/images/svg/facebook.svg")
                a(href="#").footer-item__socials--icon
                    img.svg(src="./assets/images/svg/instagram.svg")
        .footer-item
            .footer-item__header Купить
            a.footer-item__link(href="#") Вода 19л
            a.footer-item__link(href="#") Для семьи
            a.footer-item__link(href="#") Для детей
            a.footer-item__link(href="#") Для спорта
            a.footer-item__link(href="#") Газированная
            a.footer-item__link(href="#") Кофе
            a.footer-item__link(href="#") Оборудование
            a.footer-item__link(href="#") Сопутствующие товары
            a.footer-item__link(href="#") Санитарная обработка кулеров
        .footer-item
            .footer-item__header Шишкин лес 
            a.footer-item__link(href="#") О компании
            a.footer-item__link(href="#") Производство
            a.footer-item__link(href="#") Вода & Кофе
            a.footer-item__link(href="#") Услуги
            a.footer-item__link(href="#") Акции
            a.footer-item__link(href="#") Контакты
            a.footer-item__link--bottom(href="#") Вопросы и ответы
        .footer-item.footer-contacts
            .footer-item__header Контакты
            a.footer-contacts__link(href="mailto:info@cone-forest.ru") info@cone-forest.ru
            .footer-contacts__item
                .footer-contacts__title Доставка воды и кофе 
                    a(href="tel:+7 (495) 258-25-78") +7 (495) 258-25-78
                .footer-contacts__small пн-сб с 8.00 до 21.00, вс с 9.00 до 19.00
            .footer-contacts__item
                .footer-contacts__title По общим вопросам
                    a(href="tel:+7 (495) 258-25-58") +7 (495) 258-25-58
                .footer-contacts__small пн-пт с 9.00-18.00
            a(href="#").footer-contacts__payment
                img(src="./assets/images/visa.png", alt="")
    .footer__politics 2018 © Шишкин Лес. 
        a(href="#") Политика конфиденциальности
        

