footer.footer
    .g-grid
        .g-row
            .g-col.g-col_lg_3.g-col_md_4
                .footer-logo
                    img.svg(src='./assets/images/svg/logotype-footer.svg')
                    .footer-title.g-mb_1.g-mt_2 Мы в соцсетях
                    .footer-socials
                        .footer-socials__icon
                            a(href="")
                                img.g-mr_2(src='./assets/images/svg/insta.svg')
                            a(href="")
                                img.g-mr_2(src='./assets/images/svg/facebook.svg')
                            a(href="")
                                img(src='./assets/images/svg/vk.svg')
                    .footer-title.g-mb_1.g-mt_2 Документы #[br] для скачиваия
                    ul
                        li
                            a(href="").footer-link__icon
                                img(src='./assets/images/svg/adobe.svg')
                                | Реквезиты компании
                        li
                            a(href="").footer-link__icon
                                img(src='./assets/images/svg/adobe.svg')
                                | Прайс-лист
            .g-col.g-col_lg_3.g-col_md_4.g-hide_xs
                .footer-title.g-mb_1 Компания
                ul
                    li
                        a(href="") О компании
                    li
                        a(href="") Скидки и акции
                    li
                        a(href="") Карьера в АНТТРАНС
                    li
                        a(href="") Контакты
                    li
                        a(href="") Отзывы
                    li
                        a(href="") Калькулятор перевозки
                    li
                        a(href="") Доставим груз куда угодно!
                    li
                        a(href="") Карта сайта
            .g-col.g-col_lg_3.g-col_md_4.g-hide_xs
                .footer-title.g-mb_1 Услуги перевозки
                ul
                    li
                        a(href="") Междугородние перевозки
                    li
                        a(href="") Перевозки по Москве и МО
                    li
                        a(href="") Перевозка от двери до двери
                    li
                        a(href="") Перевозка негабаритных грузов
                    li
                        a(href="") Перевозка оборудования
                    li
                        a(href="") Перевозка выставочных стендов
                    li
                        a(href="") Перевозка станков
                    li
                        a(href="") Перевозка спецтехники
                    li
                        a(href="") Перевозка тралом
                    li
                        a(href="") Перевозка манипулятором
                    li
                        a(href="") Страхование груза
            .g-col.g-col_lg_3.g-col_md_4.g-mt_3_xs
                .footer-title.g-mb_1 Контактная информация
                a.footer-phone(href="tel:88005553535") 8 800 555-35-35
                ul
                    li
                        a(href="mailto:info@anttrans.ru") #[b info@anttrans.ru]
                    li
                        a(href="mailto:info@anttrans.ru") #[b г. Лобня, ул.Такая то, д.1]
                    li.g-mb_2.g-mt_2
                        a(href="").footer-link__icon
                            img(src='./assets/images/svg/clock.svg')
                            | Время работы офиса #[br] с 9:00 до 20:00
                    li
                        a(href="mailto:info@anttrans.ru") По вопросам сотрудничества: #[br] info@anttrans.ru
    .footer-bottom
        .g-grid
            .g-row
                .g-col.g-col_lg_3.g-col_md_4
                    a(href="").footer-link__icon
                        img(src='./assets/images/svg/st.svg')
                        | Разработка и продвижение
                .g-col.g-col_lg_3.g-col_md_4.g-mt_1_xs
                    span Copyright (C) "АНТТРАНС", 2018
                .g-col.g-col_lg_3.g-col_md_4.g-mt_1_xs
                    span.g-clr_wh Московская обл., г. Лобня
                .g-col.g-col_lg_3.g-col_md_4.g-mt_1_xs
                    a.g-clr_wh(href="") Пользовательское соглашение
