mixin showing()
    section.showing
        .g-grid
            h2.g-clr_wh.g-mb_0 Наши показатели растут из года в год
        svg.showing-svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='1187', height='660' viewBox="0 0 1187 660")
            g.showing-group
                g.showing-title
                    text(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 0.537842 398.07)', font-size='64', font-weight='bold', font-family='Segoe UI', x='-1.8831406', y='64.90625') 113
                g.showing-info
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 69.5378 497.07)', font-size='18', font-family='Segoe UI', x='0', y='39.301758') присутствует
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 69.5378 497.07)', font-size='18', font-family='Segoe UI', x='0', y='17.301758') автомобилей
                g.showing-dot
                    path(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 57.6055 469.62)', d='M6.07952 12.3569C9.43714 12.3569 12.159 9.59069 12.159 6.17844C12.159 2.76618 9.43714 0 6.07952 0C2.72189 0 0 2.76618 0 6.17844C0 9.59069 2.72189 12.3569 6.07952 12.3569Z')
                    path(fill='#00bd2d', fill-opacity='0.44705883', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 55 466.972)', d='M8.68503 17.6527C13.4816 17.6527 17.3701 13.701 17.3701 8.82634C17.3701 3.95169 13.4816 0 8.68503 0C3.88842 0 0 3.95169 0 8.82634C0 13.701 3.88842 17.6527 8.68503 17.6527Z')
            g.showing-group
                g.showing-title
                    text(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 232.039 363.976)', font-size='64', font-weight='bold', font-family='Segoe UI', x='-40.578781', y='64.90625') 1252
                g.showing-info
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 318.039 461.976)', font-size='18', font-family='Segoe UI', x='0', y='61.301758') за октябрь 2018
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 318.039 461.976)', font-size='18', font-family='Segoe UI', x='0', y='39.301758') перевезли
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 318.039 461.976)', font-size='18', font-family='Segoe UI', x='0', y='17.301758') тонны
                g.showing-dot
                    path(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 308.208 433.321)', d='M6.07959 12.357C9.43726 12.357 12.1592 9.59078 12.1592 6.17849C12.1592 2.7662 9.43726 0 6.07959 0C2.72193 0 0 2.7662 0 6.17849C0 9.59078 2.72193 12.357 6.07959 12.357Z')
                    path(fill='#00bd2d', fill-opacity='0.44705883', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 305.602 430.673)', d='M8.68513 17.6528C13.4818 17.6528 17.3703 13.7011 17.3703 8.82642C17.3703 3.95172 13.4818 0 8.68513 0C3.88847 0 0 3.95172 0 8.82642C0 13.7011 3.88847 17.6528 8.68513 17.6528Z')
            g.showing-group
                g.showing-title
                    text(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 401 282)', font-size='64', font-weight='bold', font-family='Segoe UI', x='-4.1341553', y='64.90625') 50000
                g.showing-info
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 556.036 384.981)', font-size='18', font-family='Segoe UI', x='0', y='17.301758') выполненных
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 556.036 384.981)', font-size='18', font-family='Segoe UI', x='0', y='39.301758') заказов
                g.showing-dot
                    path(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 550.425 353.687)', d='M6.07961 12.3569C9.43728 12.3569 12.1592 9.59072 12.1592 6.17846C12.1592 2.76619 9.43728 0 6.07961 0C2.72193 0 0 2.76619 0 6.17846C0 9.59072 2.72193 12.3569 6.07961 12.3569Z')
                    path(fill='#00bd2d', fill-opacity='0.44705883', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 547.819 351.039)', d='M8.68515 17.6527C13.4818 17.6527 17.3703 13.701 17.3703 8.82637C17.3703 3.9517 13.4818 0 8.68515 0C3.88847 0 0 3.9517 0 8.82637C0 13.701 3.88847 17.6527 8.68515 17.6527Z')
            g.showing-group
                g.showing-title
                    text(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 685 159)', font-size='64', font-weight='bold', font-family='Segoe UI', x='69.490845', y='64.90625') 3
                g.showing-info
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 767.997 268.228)', font-size='18', font-family='Segoe UI', x='0', y='17.301758') филиала:
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 767.997 268.228)', font-size='18', font-family='Segoe UI', x='0', y='39.301758') Россия,
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 767.997 268.228)', font-size='18', font-family='Segoe UI', x='0', y='61.301758') Белоруссия,
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 767.997 268.228)', font-size='18', font-family='Segoe UI', x='0', y='83.301758') Казахстан
                g.showing-dot
                    path(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 766.145 231.894)', d='M6.07958 12.3568C9.43725 12.3568 12.1592 9.59062 12.1592 6.17839C12.1592 2.76616 9.43725 0 6.07958 0C2.72192 0 0 2.76616 0 6.17839C0 9.59062 2.72192 12.3568 6.07958 12.3568Z')
                    path(fill='#00bd2d', fill-opacity='0.44705883', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 763.539 229.246)', d='M8.68512 17.6525C13.4818 17.6525 17.3702 13.7009 17.3702 8.82627C17.3702 3.95166 13.4818 0 8.68512 0C3.88846 0 0 3.95166 0 8.82627C0 13.7009 3.88846 17.6525 8.68512 17.6525Z')
            g.showing-group
                g.showing-title
                    text(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 916 106)', font-size='64', font-weight='bold', font-family='Segoe UI', x='51.084595', y='64.90625') 12
                g.showing-info
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 1001.4 212.021)', font-size='18', font-family='Segoe UI', x='0', y='17.301758') лет в сфере грузовых
                    text(fill='#ffffff', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 1001.4 212.021)', font-size='18', font-family='Segoe UI', x='0', y='39.301758') перевозок
                g.showing-dot
                    path(fill='#00bd2d', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 1003.24 175.863)', d='M6.07969 12.3569C9.43741 12.3569 12.1594 9.59068 12.1594 6.17843C12.1594 2.76618 9.43741 0 6.07969 0C2.72197 0 0 2.76618 0 6.17843C0 9.59068 2.72197 12.3569 6.07969 12.3569Z')
                    path(fill='#00bd2d', fill-opacity='0.44705883', stroke='none', transform='matrix(1 4.45468e-09 -4.45468e-09 1 1000.64 173.215)', d='M8.68527 17.6526C13.482 17.6526 17.3705 13.701 17.3705 8.82632C17.3705 3.95168 13.482 0 8.68527 0C3.88853 0 0 3.95168 0 8.82632C0 13.701 3.88853 17.6526 8.68527 17.6526Z')
            path#path(fill='none', stroke='#00bd2d', stroke-width='1', stroke-miterlimit='4', transform='matrix(0.996195 0.0871557 -0.0871557 0.996195 160.805 -0.000732422)', d='M-59.314 483.074L189.49 425.528L425.551 324.716L630.718 180.972L859.39 105.52')

        .showing-mob
            .showing-mob__item
                mark 113
                span автомобилей присутствует в нашей компании
            .showing-mob__item
                mark 1252
                span тонны перевезли за октябрь 2018
            .showing-mob__item
                mark 50000
                span выполненных заказов
            .showing-mob__item
                mark 3
                span филиала: Россия, Белоруссия, Казахстан
            .showing-mob__item
                mark 12
                span лет в сфере грузовых перевозок





