.showing {
	$self: &;

	background-image: url(../../assets/images/temp/7.jpg);
	background-position: center center;
	min-height: 570px;
	position: relative;
	overflow: hidden;

	@include media($width_xs) {
		min-height: 0;
	}

	h2,
	.h2 {
		position: relative;
		z-index: 5;
		max-width: 390px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: block;
		z-index: 0;
		pointer-events: none;
		background:
			linear-gradient(
				-131.43deg,
				#26603b 0,
				rgba(#0a0a0a, .85) 70%,
				rgba(#0a0a0a, .9) 100%
			);
	}

	&-svg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;

		@include media($width_xs) {
			display: none;
		}

		&.animate {
			opacity: 1;

			#path {
				stroke-dasharray: 1500;
				stroke-width: 0;
				animation: dash 7.5s ease forwards .15s;
			}

			#{$self}-group {	
				text {
					font-family: $ff_bold;
				}

				@for $i from 1 through 5 {
					&:nth-child(#{$i}) {
						#{$self}-title {
							opacity: 0;
		
							@if $i == 1 {
								animation: title 2s ease forwards 0s;
		
								text {
									font-size: 0;
									animation: titleText .5s ease forwards 0s;
								}
							}
		
							@else {
								animation: title 2s ease forwards #{$i / 2}s;
								
								text {
									font-size: 0;
									animation: titleText .5s ease forwards #{$i / 2}s;
								}
							}
						}
		
						#{$self}-info {
							opacity: 0;
		
							@if $i == 1 {
								transform: translateY(10px);
								animation: svgInfo 1s ease forwards 0s;
							}
		
							@else {
								transform: translateY(10px);
								animation: svgInfo 1s ease forwards #{$i / 2}s;
							}
						}
		
						#{$self}-dot {
							transform: scale(0);
							opacity: 0;
							transform-origin: center left;
		
							@if $i == 1 {
								animation: dot .6s ease forwards 0s;
							}

							@else if $i == 3 {
								animation: dot .6s ease forwards #{$i / 2.5}s;
							}

							@else if $i == 4 {
								animation: dot .6s ease forwards #{$i / 2.3}s;
							}

							@else if $i == 5 {
								animation: dot .6s ease forwards #{$i / 2.1}s;
							}
		
							@else {
								animation: dot .6s ease forwards #{$i / 3.3}s;
							}
						}
					}
				}
			}
		}
	}

	&-mob {
		display: none;

		@include media($width_xs) {
			display: flex;
			position: relative;
			z-index: 1;
			color: $clr_wh;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-left: 20px;
			padding-right: 20px;
			margin-top: 30px;

			mark {
				color: $clr_main;
				font-size: $fs_3 * 1.5;
				font-family: $ff_bold;
				margin-right: 20px;
				line-height: .9;
				position: relative;
				top: 3px;
			}

			&__item {
				margin-bottom: 20px;
				width: calc(100%);
				display: flex;
				align-items: center;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@keyframes title {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes titleText {
	0% {
		font-size: 0;
	}

	100% {
		font-size: 64px;
	}
}

@keyframes svgInfo {
	0% {
		transform: translateY(110px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes dot {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes titleInfo {
	0% {
		font-size: 0;
	}

	100% {
		font-size: 18px;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 1500;
		stroke-width: 1;
	}

	100% {
		stroke-width: 1;
	}
}

body.ie {
	.showing-svg.animate #path {
		stroke-width: 1;
	}
}
