.carousel {
	position: relative;
	z-index: 0;
	
	.swiper-container {
		width: 100%;
	}

	.swiper-slide {
		background-position: center;
		background-size: 100%;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#616161, .28);
			z-index: 0;
		}
	}

	&-inner {
		max-width: calc(100% - 490px);
		width: 100%;
		padding: 170px 0;
		position: relative;
		z-index: 1;
		box-sizing: border-box;
	}

	&-navs {
		display: flex;
		align-items: center;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		padding: 170px 20px;

		@include rw($width_md) {
			padding: 170px 20px 60px;
		}

		> div {
			position: relative;
			left: 0;
			right: 0;
			width: 90px;
			height: 55px;
			border-radius: 3px;
			border: 1px solid $clr_wh;
			background: rgba($clr_main, .5);
			transition: all $trans;
			outline: none;

			&.swiper-button-disabled {
				opacity: 1;
				background: rgba($clr_main, .25);
			}

			@include rw($width_xs) {
				width: 60px;
				height: 30px;
			}

			&:before {
				content: '';
				position: absolute;
				width: 30px;
				height: 1px;
				background-color: $clr_wh;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				display: block;
			}

			&:after {
				content: '';
				border: solid $clr_wh;
				border-width: 0 1px 1px 0;
				padding: 2px;
				position: absolute;
				display: inline-block;
				left: -27px;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				height: 0;
				width: 0;
				transform: rotate(135deg);
			}
			

			&:first-child {
				right: -1px;
				left: auto;
			}

			&:last-child {
				&:after {
					transform: rotate(-45deg);
					left: 0;
					right: -27px;
				}
			}
		}
	}
}
