.services {
	&-cards {
		display: flex;
		justify-content: space-between;
	}

	.swiper-slide {
		&:before {
			display: none;
		}
	}

	.carousel-navs {
		position: relative;
		padding: 0;
		height: auto;
		justify-content: flex-end;
		top: 23px;
		display: none;
		
		@include media($width_md) {
			display: flex;
		}

		> div {
			position: relative;
			top: 0;
			margin: 0;
			bottom: 0;
			border-color: $clr_main_2;
			background-color: #f7f7f7;

			&:before {
				background-color: $clr_main;
			}

			&:after {
				border-color: $clr_main;
			}

			&:not(.swiper-button-disabled) {
				&:hover {
					background-color: $clr_main_2;
				}
			}
			
			&.swiper-button-disabled {
				opacity: 0.5;
			}
		}
	}

	.swiper-container {
		@include media($width_md) {
			padding-bottom: 80px;
		}

		@include media($width_xs) {
			padding-bottom: 55px;
		}
	}

	&-card {
		$s: &;

		height: 100%;
		overflow: hidden;
		padding: 30px 30px 28px;
		border: 1px solid $clr_gray_2;
		border-radius: $br_r;
		box-sizing: border-box;
		transition: all $trans;

		&:hover {
			background-color: $clr_main_h;
		}

		&__info {
			color: $clr_gray_4;
		}

		&__title {
			font-size: $fs_175;
			font-family: $ff_bold;
			line-height: 1.2;
			margin-bottom: 10px;
			display: inline-block;
		}

		&__left {
			padding-bottom: 0;
			margin-right: 20px;

			@include media($width_md) {
				margin-right: 0;
			}

			#{$s} {
				width: calc(50% - 10px);

				&:nth-child(2) {
					img {
						margin-bottom: -70px;
					}
				}

				&__info {
					font-size: $fs_05;
				}
			}
		}

		&__right {
			display: flex;
			flex-wrap: wrap;
			height: 50%;

			#{$s} {
				width: 50%;
				padding-bottom: 30px;

				&__title {
					display: flex;
					align-items: center;
					font-size: $fs_05;
					margin-bottom: 2px;
				}

				&__icon {
					margin-right: 15px;

					svg {
						width: 40px;
						height: 40px;
					}
				}

				&__info {
					font-size: $fs_030;
				}
			}
		}

		&__img {
			&--sticky {
				margin-bottom: -63px;
			}
		}
	}
}
