mixin services()
    section.services.g-bg_grb
        .g-grid
            h2.g-clr_m.g-mb_1 Наши услуги
            p.g-mb_4 Чаще всего, это вид доставки грузов осуществляется в контейнерах, которые имеют стандартные, принятые во всем мире, характеристики: габариты, массу, особенности конструкции. Использование подобных «ёмкостей» позволяет обезопасить груз от внешних воздействий.
            .g-row
                .g-col.g-col_md_12
                    .services-cards
                        .services-card__left
                            .services-card
                                a.services-card__title.g-clr_m(href='#') Грузоперевозки по России
                                p.services-card__info Но можно заметить, что всевозможные сложности с организацией морских грузоперевозок компенсируются всеми предоставляемыми его возможностями.
                                img(src='./assets/images/svg/world.svg').services-card__img
                            .services-card
                                a.services-card__title.g-clr_m(href='#') Грузоперевозки  по Москве  и московской области
                                p.services-card__info Данный вид транспортировки является самым медленным и самым дешёвым среди всех возможных видов перевозки грузов.
                                img(src='./assets/images/svg/moscow.svg').services-card__img
                        .services-card__right
                            .services-card.services-card__small
                                a.services-card__title.g-clr_m(href='#')
                                    span.services-card__icon
                                        svg
                                            use(xlink:href=`./assets/images/svg-sprite/sprite.svg#single-door`)
                                    | Грузоперевозки по России
                                p.services-card__info Но можно заметить, что сложности с организацией морских грузоперевозок компенсируются всеми предоставляемыми его возможностями.   
                            .services-card.services-card__small
                                a.services-card__title.g-clr_m(href='#')
                                    span.services-card__icon
                                        svg
                                            use(xlink:href=`./assets/images/svg-sprite/sprite.svg#package`)
                                    | Перевозка нагабаритных грузов
                                p.services-card__info Но можно заметить, что сложности с организацией морских грузоперевозок компенсируются всеми предоставляемыми его возможностями. 
                            .services-card.services-card__small
                                a.services-card__title.g-clr_m(href='#')
                                    span.services-card__icon
                                        svg
                                            use(xlink:href=`./assets/images/svg-sprite/sprite.svg#file`)
                                    | Страхование груза
                                p.services-card__info Но можно заметить, что сложности с организацией морских грузоперевозок компенсируются всеми предоставляемыми его возможностями. 
                            .services-card.services-card__small
                                a.services-card__title.g-clr_m(href='#')
                                    span.services-card__icon
                                        svg
                                            use(xlink:href=`./assets/images/svg-sprite/sprite.svg#truck`)
                                    | Перевозка оборудования
                                p.services-card__info Но можно заметить, что сложности с организацией морских грузоперевозок компенсируются всеми предоставляемыми его возможностями. 
