mixin header(type)
	- 
		var menu = [
			{
				"name": "Москва",
				"href": "/moscow",
				"childs": [
					{
						"name": "Санкт-Петербург",
						"href": '/city'
					},{
						"name": "Екатеринбург",
						"href": '/city'
					},{
						"name": "Нижний Новгород",
						"href": '/city'
					},{
						"name": "Казань",
						"href": '/city'
					},{
						"name": "Челябинск",
						"href": '/city'
					},{
						"name": "Омск",
						"href": '/city'
					},{
						"name": "Самара",
						"href": '/city'
					},{
						"name": "Ростов-на-Дону",
						"href": '/city'
					},{
						"name": "Уфа",
						"href": '/city'
					},{
						"name": "Пермь",
						"href": '/city'
					},{
						"name": "Воронеж",
						"href": '/city'
					},{
						"name": "Волгоград",
						"href": '/city'
					}
				]
			},{
				"name": "Компания",
				"href": '/about.html'
			},{
				"name": "Услуги",
				"href": '/services.html'
			},{
				"name": "Быстрая заявка",
				"href": '/calculator.html'
			},{
				"name": "Контакты",
				"href": '/contacts.html'
			}
		];
	-

	header.header&attributes(attributes)
		.header-top
			.g-grid
				div.g-d_f.g-jc_sb.g-as_c
					a.header-top__logo.g-d_f.g-as_c(href='/')
						img.svg(src='./assets/images/svg/logo.svg')
					nav.header-top__nav.g-d_f.g-as_c
						ul.g-d_f
							each link, index in menu
								if (link.childs)
									li.header-top__link.dropdown
										a= link.name
										ul.header-top__link--child.dropdown-child
											each subLink, index in link.childs
												li #[a(href= subLink.href = '#')= subLink.name]
								else
									li.header-top__link(class=`${index !== 0 ? 'g-hide_lg' : ''}`) #[a(href= link.href)= link.name]
					div.header-top__contacts.g-d_f.g-as_c
						a(href="tel:88005553535").header-top__phone.g-d_f.g-fd_c.g-hide_lg 8 800 555-35-35
							small Звонок по России бесплатный
						+btn().g-hide_lg(href="/popups.html") Заказать звонок
						a(href="#menu").header-top__burger
							.menu-icon
								span.line
								span.line.line--second
								span.line.line--third
		block

