$h: header;

.#{$h} {
	color: $clr_wh;
	position: relative;

	a:not(.btn) {
		text-decoration: none;
		cursor: pointer;
		position: relative;
	}

	&-top {
		min-height: 70px;
		display: flex;
		align-items: center;
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 1;
		border-bottom: 1px solid rgba($clr_wh, .2);

		&__logo {
			position: relative;
			bottom: 4px;
		}

		&__nav {
			margin-left: 125px;
			margin-right: auto;

			a {
				font-size: $fs_05;
				font-family: $ff_bold;
			}
		}

		&__phone {
			font-size: 1.42em;
			font-family: $ff_bold;
			margin-right: 22px;
			text-align: right;

			small {
				font-size: 10px;
				font-family: $ff_main;
				margin-top: -9px;
				margin-bottom: -3px;
			}
		}

		&__link {
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			> a {
				color: $clr_wh;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					width: 100%;
					left: 0;
					right: 0;
					bottom: 0;
					height: 1px;
					background-color: $clr_wh;
					transition: all $trans15;
					transform-origin: left;
					transform: scaleX(0);
				}
			}
			
			&:hover {
				> a {
					&:after {
						transform: scaleX(1);
					}
				}
			}
		}
	}

	&-form {
		.g-grid {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 0;
			padding: 170px 0;
			pointer-events: none;

			> * {
				pointer-events: all;
			}
		}
	}

	&-banner {
		position: relative;
		background-color: $clr_dark_l;

		.carousel {
			&-inner {
				min-height: 730px;
			}
		}
	}
}
