$h: header;

.#{$h} {
	color: $clr_wh;
	position: relative;

	a:not(.btn) {
		text-decoration: none;
		cursor: pointer;
		position: relative;
	}

	p:not(.g-fs_05) {
		font-size: $fs_175;
	}

	&-top {
		min-height: 70px;
		display: flex;
		align-items: center;
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 1;
		border-bottom: 1px solid rgba($clr_wh, .2);

		&__logo {
			position: relative;
			bottom: 4px;
		}

		&__nav {
			margin-left: 125px;
			margin-right: auto;

			a {
				font-size: $fs_05;
				font-family: $ff_bold;
			}
		}

		&__phone {
			font-size: 1.42em;
			font-family: $ff_bold;
			margin-right: 22px;
			text-align: right;

			small {
				font-size: 10px;
				font-family: $ff_main;
				margin-top: -9px;
				margin-bottom: -3px;
			}
		}

		&__link {
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			> a {
				color: $clr_wh;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					width: 100%;
					left: 0;
					right: 0;
					bottom: 0;
					height: 1px;
					background-color: $clr_wh;
					transition: all $trans15;
					transform-origin: left;
					transform: scaleX(0);
				}
			}
			
			&:hover {
				> a {
					&:after {
						transform: scaleX(1);
					}
				}
			}
		}
	}

	&-form,
	&-card {
		.g-grid {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 0;
			padding: 170px 0;
			pointer-events: none;

			> * {
				pointer-events: all;
			}
		}
	}

	&-card {
		&__inner {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			max-width: 400px;
			margin-left: auto;
			margin-right: 0;
			background-color: rgba(#161616, .7);
			padding: 30px;

			a {
				color: $clr_wh;
			}
		}

		span {
			display: block;
		}

		.g-mb_1 {
			margin-bottom: .2em;
		}

		&__title {
			font-family: $ff_bold;
			color: $clr_main;
			font-size: $fs_25;
			margin-bottom: 5px;
		}

		&__row {
			&:last-child {
				margin-top: 40px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: -30px;
					right: -30px;
					top: -20px;
					background-color: rgba($clr_wh, .2);
					height: 1px;
				}
			}
		}

		&__lg {
			font-family: $ff_bold;
			font-size: $fs_2;
			line-height: 1.2;
			display: inline-block;
		}
	}

	&-banner {
		position: relative;
		background-color: $clr_dark_l;
		$b: &;

		.carousel {
			&-inner {
				min-height: 730px;
			}
		}

		&__static {
			background-position: center center;
			background-size: cover;
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background-color: rgba(#616161, .28);
			}

			#{$b} {
				box-sizing: border-box;
				min-height: 730px;
				padding: 170px 0;
				max-width: 720px;
				width: 100%;
				background: transparent;
			}
		}

		&__text {
			#{$b} {
				max-width: 900px;
			}
		}
	}

	&-contacts {

	}
}
