mixin header(type)
	- 
		var menu = [
			{
				"name": "Москва",
				"href": "/moscow",
				"childs": [
					{
						"name": "Санкт-Петербург",
						"href": '/city'
					},{
						"name": "Екатеринбург",
						"href": '/city'
					},{
						"name": "Нижний Новгород",
						"href": '/city'
					},{
						"name": "Казань",
						"href": '/city'
					},{
						"name": "Челябинск",
						"href": '/city'
					},{
						"name": "Омск",
						"href": '/city'
					},{
						"name": "Самара",
						"href": '/city'
					},{
						"name": "Ростов-на-Дону",
						"href": '/city'
					},{
						"name": "Уфа",
						"href": '/city'
					},{
						"name": "Пермь",
						"href": '/city'
					},{
						"name": "Воронеж",
						"href": '/city'
					},{
						"name": "Волгоград",
						"href": '/city'
					}
				]
			},{
				"name": "Компания",
				"href": '/company'
			},{
				"name": "Услуги",
				"href": '/services'
			},{
				"name": "Быстрая заявка",
				"href": '/services'
			},{
				"name": "Контакты",
				"href": '/contacts'
			}
		];
		var lang = [
			"RU",
			"ENG",
			"FR",
			"DE"
		];

		var banner = [
			{
				"title": "Транспортно-экспедиционная  компания АНТТРАНС",
				"subtitle": "Доставляем грузы по всей стране",
				"img": "1.jpg"
			},{
				"title": "Транспортно-экспедиционная  компания АНТТРАНС - 2",
				"subtitle": "Доставляем грузы по всей стране - 2",
				"img": "2.jpg"
			}
		]
	-

	header.header
		.header-top
			.g-grid
				div.g-d_f.g-jc_sb.g-as_c
					a.header-top__logo.g-d_f.g-as_c(href='/')
						img.svg(src='./assets/images/svg/logo.svg')
					nav.header-top__nav.g-d_f.g-as_c
						ul.g-d_f
							each link, index in menu
								if (link.childs)
									li.header-top__link.dropdown
										a= link.name
										ul.header-top__link--child.dropdown-child
											each subLink, index in link.childs
												li #[a(href= subLink.name)= subLink.name]
								else
									li.header-top__link #[a(href= link.href)= link.name]
					div.header-top__contacts.g-d_f.g-as_c
						a.header-top__phone.g-d_f.g-fd_c 8 800 555-35-35
							small Звонок по России бесплатный
						+btn() Заказать звонок
		.header-banner
			+carousel(banner)
		.header-form
			.g-grid
				+formCalc()


