mixin reviews()
    -
        var reviews = [
            {
                name: "Aлександр Александрович",
                review: "Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat (the second one from forward), it was my cheerful duty to attend upon him while taking that hard-scrabble scramble upon the dead whale's back. You have seen Italian organ-boys holding a dancing-ape by a long cord. Just so, from the ship's steep side, did I hold Queequeg down there in the sea, by what is technically called in the fishery a monkey-rope, attached to a strong strip of canvas belted round his waist.",
                rightText: "«You have seen Italian organ-boys holding a dancing-ape by a long cord. Just so, from the ship's steep side»"
            },
            {
                name: "Игорь Сергеевич",
                review: "Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat (the second one from forward), it was my cheerful duty to attend upon him while taking that hard-scrabble scramble upon the dead whale's back. You have seen Italian organ-boys holding a dancing-ape by a long cord. Just so, from the ship's steep side, did I hold Queequeg down there in the sea, by what is technically called in the fishery a monkey-rope, attached to a strong strip of canvas belted round his waist.",
                rightText: "«You have seen Italian organ-boys holding a dancing-ape by a long cord. Just so, from the ship's steep side»"
            }
        ]
    -
    section.reviews
        .g-grid
            h2.g-clr_m.g-mb_1 Благодарности неравнодушных клиентов
            +carousel(reviews, 'reviews')(data-swiper=`{"speed": 500, "effect": "slide", "loop": "true"}`)