mixin tariffs()
    section.tariffs
        .g-grid
            h2.g-clr_m.g-mb_1 Тарифы на перевозку груза автомобильным транспортом
            .tariffs-inner#tarrifs
                .g-row
                    .g-col.g-col_md_6
                        .tariffs-dropdown
                            span Выберите город отправления:
                            ul.tariffs-dropdown__inner
                                li.tariffs-dropdown__parent.dropdown.tariffs-city
                                    ul.tariffs-dropdown__child.dropdown-child
                    .g-col.g-col_md_6
                        .tariffs-tabs
                    .g-col.g-col_md_12
                        .tariffs-table
                            table.table-head
                                thead
                                    tr
                                        th Город доставки
                                        th.t-desc 1 тонна
                                        th.t-desc 1.5 тонны
                                        th.t-desc 3 тонны
                                        th.t-desc 5 тонн
                                        th.t-desc 10 тонн
                                        th.t-desc 20 тонн
                                        th.tariffs-table__dropdown.t-mob
                                            ul.tariffs-table__dropdown--parent
                                                li.dropdown.tariffs-car
                                                    a(href="javascript:void(0)" data-car="t1") 1 тонна
                                                    ul.dropdown-child
                                                        li
                                                            a(href="" data-car="t1") 1 тонна
                                                        li
                                                            a(href="" data-car="t15") 1.5 тонны
                                                        li
                                                            a(href="" data-car="t3") 3 тонны
                                                        li
                                                            a(href="" data-car="t5") 5 тонн
                                                        li
                                                            a(href="" data-car="t10") 10 тонн
                                                        li
                                                            a(href="" data-car="t20") 20 тонн
                                                        
                            .scrollbar-outer
                                .scrollbar-outer__head
                                table
                                    tbody
                    .g-col.g-col_md_12.g-mt_2
                        small Приведённые цены и характеристики услуг носят исключительно ознакомительный характер и не являются публичной офертой, определённой пунктом 2 статьи 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о характеристиках услуг, их наличия и стоимости обращайтесь, пожалуйста, к специалистам нашей компани
