.avtopark {
	$a: &;

	&-list {
		&__item {
			$s: &;

			border-radius: $br_r;
			box-sizing: border-box;
			min-height: 70px;
			padding: 0 20px;
			padding-left: 0;
			border: 1px solid $clr_gray_2;
			display: flex;
			cursor: pointer;
			transition: all $trans;

			@include media($width_xs) {
				min-height: 48px;
			}

			&--icon {
				display: flex;
				align-items: center;
				justify-content: center;
				border-right: 1px solid $clr_gray_2;
				min-width: 100px;
				transition: all $trans;
			}

			&--name {
				display: flex;
				align-items: center;
				padding-left: 25px;
				font-family: $ff_bold;
				transition: all $trans;
			}

			&.active {
				border-color: $clr_main;
				background-color: $clr_main_h;

				#{$s} {
					&--icon {
						border-right-color: $clr_main;

						&:before {
							background-color: $clr_main;
						}
					}
					
					&--name {
						color: $clr_main;
					}
				}
			}
		}
	}

	&-preview {
		display: flex;

		@include media($width_xs) {
			flex-wrap: wrap;
			margin-left: -20px;
			margin-right: -20px;
		}

		> * {
			width: 50%;
			background-color: $clr_gray_3;

			@include media($width_xs) {
				width: 100%;
			}
		}

		&__img {
			background-position: center;
			background-size: cover;

			@include media($width_xs) {
				min-height: 300px;
				margin-top: 30px;
			}

			@include media($width_xs_s) {
				min-height: 250px;
			}
		}

		&__params {
			padding: 30px;

			&--title {
				color: $clr_main_1;
				font-family: $ff_bold;
			}

			&--inner {
				li {
					font-size: $fs_05;
					color: $clr_dark_2;
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid $clr_gray_2;
					margin-bottom: 6px;
					padding-bottom: 6px;

					&:last-child {
						border-bottom: none;
						margin-bottom: 0;
					}

					span.val {
						color: $clr_main_1;
						font-family: $ff_bold;
					}
				}
			}
		}
	}

	&-cartext {
		p.p {
			font-size: $fs_05;
			color: $clr_dark_2;
		}
	}

	.btn {
		display: inline-flex;

		@include media($width_xs) {
			display: flex;
		}
	}

	&-horizontal {
		#{$a} {
			&-preview {
				min-height: 280px;
			}

			&-list {
				display: flex;

				&__item {
					flex-wrap: wrap;
					padding: 20px 0;

					&--icon {
						width: 100%;
						border-right: none;
						display: block;
						padding-left: 24px;
						position: relative;

						&:before {
							content: '';
							transition: all $trans;
							position: absolute;
							bottom: 9px;
							left: 0;
							right: 0;
							height: 1px;
							width: 100%;
							display: block;
							background-color: $clr_gray_2;
						}
					}
				}
			}
		}
	}
}
